@import "../../styles/variables";
.textcomponent {
  padding: 30px 0px 0px;
}
.textcomponent-heading {
  font-size: 24px;
  color: $black;
  text-align: center;
  font-weight: 700;
}
.textcomponent-heading:after {
  content: "";
}
.textcomponent-heading-ul {
  margin-top: 2px;
  border-top: 2px solid $primary-color;
  width: 210px;
  display: block;
  line-height: 1rem;
}
.textcomponent-paragraph {
  font-size: 14px;
  padding: 16px 16px 0;
  color: $black;

  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 768px) {
  .textcomponent {
    padding: 40px 50px 0;
  }
  .textcomponent-paragraph {
    font-size: 16px;
  }
}
