@import '../../styles/variables';

.whywithus {
    display: flex;
    flex-direction: column;
    padding: 20px ;
}
.whywithus-image {
    flex: 50%;
}
.whywithus-image img {
    width: 100%;
}
.whywithus-content {
    flex: 50%;
    width: 100%;
}
.whywithus-content-heading {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}
.whywithus-content-paragraph {
    font-size: 16px;
    font-weight: 400;
}
@media screen and (min-width: 768px) {
    .whywithus {
        flex-direction: row;
        padding: 20px 70px;
    }
    .whywithus-image {
        padding-right: 15px;
    }
    .whywithus-content {
        width: 550px;
    }
    .whywithus-content-heading {
        text-align: center;
    }
    .whywithus-content-paragraph {
        padding-left: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .whywithus {
        padding: 20px 150px;
    }
}