@import '../../styles/variables';


.aboutbeyondsyntax {
    position: relative;
    padding: 25px 0px 20px 0px;
}

.aboutbeyondsyntax img {
    width: 100%;
    height: 40vh;
}

.aboutbeyondsyntax-content {
    position: absolute;
    top: 18%;
    margin: 0px 20px;
}

.aboutbeyondsyntax-content h2 {
    color: $white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.aboutbeyondsyntax-content p {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    max-width: 100%;
}

.aboutbeyondsyntax-content button {
    border: 1px solid $white;
    background: none;
    padding: 10px 32px;
    color: $white;
    font-size: 12px;
    font-weight: 400;
}

.aboutbeyondsyntax-content button:hover {
    background-color: $primary-color;
}

@media screen and (min-width: 768px) {
    .aboutbeyondsyntax-content {
        top: 25%;
        margin: 0px 150px;
    }
    .aboutbeyondsyntax img {
        height: 70vh;
    }
    .aboutbeyondsyntax-content {
        top: 18%;
    }
    
    .aboutbeyondsyntax-content h2 {
        font-size: 36px;
        text-align: left;
    }
    
    .aboutbeyondsyntax-content p {
        font-size: 18px;
        max-width: 555px;
    }
    
    .aboutbeyondsyntax-content button {
        font-size: 14px;
    }
    
}