@import "../../styles/variables";

.ourservices-heading {
  font-size: 36px;
  text-align: center;
  padding: 20px 0px;
  font-weight:700;
}

.ourservices-heading:after {
  content: "";
}
.com {
  border-bottom: 2px solid $color;
}
.mid {
  border-bottom: 2px solid $primary-color;
}
