@import '../../styles/variables';


.ourservices-heading {
    font-size: 36px;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.ourservices-heading:after {
    content: '';
}

.ourservices-heading-ul {
    border-bottom: 2px solid $primary-color;
    width: 120px;
    display: block;
    line-height: 1rem;
}

.ourservices-container-main {
    display: flex;
    flex-direction: column;
}

.ourservices-container {
    padding: 0px 15px 0px 15px;
    position: relative;
}

.ourservices-container img {
    width: 100%;
}

.ourservices-content {
    position: absolute;
    top: 45%;
    padding-left: 10px;
}

.ourservices-content h1 {
    color: $white;
    font-size: 28px;
    font-weight: 400;
}

.ourservices-content p {
    color: $white;
    font-size: 16px;
    font-weight: 400;
}

.ourservices-content-btn {
    padding-left: 10px;
}

.ourservices-content button {
    border: 1px solid $white;
    background: none;
    color: $white;
    padding: 10px;
    font-size: 12px;
}

.ourservices-content button:hover {
    background-color: $primary-color;
}

@media screen and (min-width: 320px) {


    .ourservices-container-main {
        flex-direction: column;
    }

    .ourservices-container img {
        width: 100%;
        flex-wrap: nowrap;
    }

    .ourservices-content {
        top: 15%;
    }

    .ourservices-content h1 {
        font-size: 28px;
    }

    .ourservices-content p {
        font-size: 18px;
    }

}

@media screen and (min-width: 425px) {


    .ourservices-content {
        top: 30%;
    }

}

@media screen and (min-width: 600px) {
    .ourservices-container-main {
        flex-direction: row;
    }

    .ourservices-content {
        top: 5%;
    }

    .ourservices-content h1 {
        font-size: 18px;
    }

    .ourservices-content p {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {


    .ourservices-container img {
        width: 100%;
        flex-wrap: nowrap;
    }

    .ourservices-content {
        top: 15%;
    }

    .ourservices-content h1 {
        font-size: 22px;
        padding: 0px 0px 15px 0px;
    }

    .ourservices-content p {
        font-size: 14px;
        padding: 0px 0px 20px 0px;
    }

}

@media screen and (min-width: 841px) {
    .ourservices {
        margin: 0px 70px;
    }

    .ourservices-content {
        top: 35%;
    }
}

@media screen and (min-width: 1200px) {

    .ourservices {
        margin: 0px 150px;
    }

    .ourservices-container img {
        width: 100%;
        flex-wrap: nowrap;
    }

    .ourservices-content {
        top: 20%;
    }

    .ourservices-content h1 {
        font-size: 25px;
        padding: 0px 0px 20px 0px;
    }

    .ourservices-content p {
        font-size: 16px;
        padding: 0px 0px 20px 0px;
    }
}

@media screen and (min-width: 1440px) {

    .ourservices-content {
        top: 45%;
    }

    .ourservices-content h1 {
        font-size: 28px;
    }

    .ourservices-content p {
        font-size: 18px;
    }
}