@import "../../styles/variables";
.whypartnerwithus {
  padding: 30px 5px;
}
.whypartnerwithus-heading {
  font-size: 24px;
  color: $black;
  text-align: center;
  font-weight: 700;
}
.whypartnerwithus-heading:after {
  content: "";
}
.whypartnerwithus-heading-ul {
  margin-top: 0px;
  border-top: 3px solid $primary-color;
  width: 210px;
  display: block;
  line-height: 1rem;
}
.whypartnerwithus-paragraph {
  font-size: 14px;
  padding-top: 14px;
  color: $black;
  text-align: center;
  font-weight: 400;
  justify-content: center;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) {
  .whypartnerwithus-paragraph {
    font-size: 16px;
    padding: 14px 60px 0;
  }
  .whypartnerwithus {
    padding: 60px 5px;
  }
}
