@import '../../styles/variables';

.ourtech {
    padding: 15px 0px 20px 0px;
    position: relative;
}
.ourtech-backgroundwrapper img{
    width: 100%;
    height: 110vh;
}
.ourtech-contentwrapper {
    position: absolute;
    top: 2%;
    width: 100%;
    justify-content: center;
    
}
.ourtech-heading {
    color: $white;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.ourtech-heading:after {
    content: '';
}

.ourtech-heading-ul {
    border-bottom: 2px solid $white;
    width: 200px;
    display: block;
    line-height: 1rem;
}
.ourtech-image-wrapper {
    display: flex;
    flex-direction: column;
}
.ourtech-image {
    margin: 10px 20px 10px 20px ;
}
.ourtech-image img{
    width: 100%;
    border: 2px solid $white;
}
.ourtech-button-wrapper {
    padding-top: 20px ;
    text-align: center;
}
.ourtech-button-wrapper button{
    border: 2px solid $white;
    color: $white;
    font-size: 16px;
    padding: 10px 32px;
    background: none;
    text-align: center;
}
.ourtech-button-wrapper button:hover {
    background-color: $secondary-color;
}
@media screen and (min-width: 425px) {
    .ourtech-backgroundwrapper img{
        width: 100%;
        height: 210vh;
    }
    .ourtech-image {
        margin: 10px 20px 10px 20px ;
    }
}
@media screen and (min-width: 550px) {
    .ourtech-backgroundwrapper img{
        width: 100%;
        height: 230vh;
    }
}
@media screen and (min-width: 660px) {
    .ourtech-backgroundwrapper img{
        width: 100%;
        height: 260vh;
    }
}
@media screen and (min-width: 768px) {

    .ourtech-backgroundwrapper img{
        height: 90vh;
    }

    .ourtech-contentwrapper {
        top: 15%;
    }
    .ourtech-image {
        margin: 10px 20px 10px 20px ;
    }

    .ourtech-image-wrapper {
        padding: 0px 30px ;
        flex-direction: row;
    }
   
}
@media screen and (min-width: 1200px) {
    
    .ourtech-image-wrapper {
        margin: 0px 90px 0px 90px;
    }
    
}