@import '../../styles/variables';

.rpomps {
    display: flex;
    flex-direction: column;
    margin: 20px 20px ;
}
.rpo-heading {
    color: $primary-color;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.rpo-paragraph {
    font-size: 16px;
}
.mps-heading {
    color: $primary-color;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.mps-paragraph {
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .rpomps {
        flex-direction: row;
        margin: 20px 70px 20px 70px;
    }
    .rpo {
        flex: 50%;
    }
    .mps {
        flex: 50%;
    }

}
@media screen and (min-width: 1200px) {
    .rpomps {
        flex-direction: row;
        margin: 20px 150px 20px 150px;
    }


}
