$primary-color: #f37120;
$secondary-color: #01a7e9;
$white: #fff;
$black: #000;
$grey:rgb(242,244,244);
$color:#ddd;
$gradientcolor-4: linear-gradient(
  to left,
  #db8511 0%,
  #e63940 100%
); /*read more button and text color in banner component and subcribe button color in GET in touch component*/
$gradientcolor-5: linear-gradient(
  135deg,
  #00ffff 0%,
  #00ffff 100%
) !important; /*get in touch component contact us text color*/
$color-24: #3e396b33; /* AWS Get Touch */
$color-25: #eeeeee; /* AWS get Touch */
$color-4: #d8d0d0; 