@import '../../styles/variables';

.contactus {
    display: flex;
    flex-direction: column;
    background-color: #F2F4F4;
}

.contactus-col1 {
    flex: 50%;
    margin: 30px;
}

.contactus-col1-heading1 {
    font-size: 14px;
    color: $black;
    font-weight: 500;
}

.contactus-col1-heading2 {
    font-size: 28px;
    color: $black;
    font-weight: 700;
    padding-bottom: 10px;
}

.contactus-col1-wrpr1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.contactus-col1-wrpr1 img {
    width: 35px;
    height: 35px;
}

.contactus-col1-wrpr1-text {
    padding-left: 20px;
}

.contactus-col1-wrpr1-text-h {
    font-size: 16px;
    font-weight: 500;
}

.contactus-col1-wrpr1-text-p {
    font-size: 16px;
    font-weight: 500;
}

.contactus-col2 {
    flex: 70%;
    margin: 0px 30px 30px 30px;
}

.contactus-col2-input {
    padding-top: 20px;
}

.contactus-inputs {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.contactus-col2-input2 {
    display: flex;
    flex-direction: column;
}

#contactus-inputmessage {
    min-height: 100px;
}

.contactus-button {
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    width: 100px;
    color: $black;
    border: none;
    background-color: $primary-color;
}

.contactus-button:hover {
    background-color: $secondary-color;
}

@media screen and (min-width: 550px) {

    .contactus-col2-input2 {
        flex-direction: row;
    }

    .contactus-col2-input2-sub1 {
        flex: 50%;
        padding-right: 10px;
    }

    .contactus-col2-input2-sub2 {
        flex: 50%;
        padding-left: 10px;
    }
}

@media screen and (min-width: 768px) {
    .contactus {
        flex-direction: row;
    }

    .contactus-col1 {
        flex: 40%;
        margin: 30px 10px 30px 70px;
    }

    .contactus-col2 {
        flex: 60%;
        margin: 30px 70px 30px 10px;
    }

}

@media screen and (min-width: 1200px) {
    .contactus-col1 {
        flex: 40%;
        margin: 30px 10px 30px 150px;
    }

    .contactus-col2 {
        flex: 60%;
        margin: 30px 150px 30px 10px;
    }
}