.imagetextcomponent-container{
    &.right{
        flex-direction: row-reverse;
    }
}
.imagetextcomponent-img{
     max-width: 100vh;
}

@media screen and (min-width:900px){
.imagetextcomponent-main{
    display:flex;
}
}

