@import "../../styles/variables";

.imagetextcomponent {
  margin-top:15px;
  display: flex;

  flex-direction: column-reverse;
  &.right{
    flex: column;
  }
}

.imagetextcomponent-content {
  flex: 50%;
  width: 100%;
}

.imagetextcomponent-content-heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: $black;
}
.imagetextcomponent-heading:after {
  content: "";
}

.imagetextcomponent-heading-ul {
  margin-top: 2px;
  border-bottom: 2px solid $primary-color;
  width: 210px;
  display: block;
  line-height: 1rem;
}

.imagetextcomponent-content-paragraph {
  font-size: 14px;
  color: $black;
  text-align: center;
  font-weight: 400;
  justify-content: center;
  line-height: 1.5;
  letter-spacing: 0.2px;
  padding: 16px;
}
.imagetextcomponent-redirect{
  text-decoration: none;
  color: $primary-color;
}
.imagetextcomponent-image {
  flex: 50%;
  padding: 0 16px;
}

.imagetextcomponent-image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .imagetextcomponent {
    margin-top:30px;
    flex-direction: row;
    padding:0 60px;
    &.right{
      flex-direction: row-reverse;
      background-color:$grey;
    }
  }

  .imagetextcomponent-content {
    width: 550px;
  }

  .imagetextcomponent-content-paragraph {
    padding-right: 15px;
    font-size: 16px;
  }

  .imagetextcomponent-image {
    padding-right: 20px;
    &.right{
      padding-right:0px;
      padding-left:20px;
    }
  }
  .imagetextcomponent-image img {
    height: 300px;
  }
}
