@import "../../styles/variables";

.GetTouch-container {
  padding: 16px;
  margin-top: 30px;
  &.grey {
    background-color: $grey;
  }
}
.GetTouch-header-2 {
  color: $primary-color;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 600;
}
.GetTouch-paragraph {
  color: $secondary-color;
  font-weight: 400;
  font-size: 14px;
  justify-content: left;
  line-height: 1.7;
}
.GetTouch-form {
  margin-top: 45px;
}
.GetTouch-input {
  border-radius: 25px;
  border: 1px solid $color-2;
  font-size: 16px;
  outline: $primary-color;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
}
.GetTouch-input:focus {
  border: 1px solid $primary-color;
}

.GetTouch-button {
  color: $white;
  text-align: center;
  background-color: $primary-color;
  border: none;
  border-radius: 28px;
  padding: 14px 10px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  min-width: 160px;
}
.GetTouch-button:hover {
  cursor: pointer;
}

.GetTouch-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .GetTouch-header-2 {
    font-size: 30px;
    font-weight: 600;
  }
  .GetTouch-container {
    margin-top: 30px;
    padding: 30px 60px 0;
  }
  .GetTouch-paragraph {
    max-width: 80%;
  }
  .GetTouch-form {
    display: flex;
  }
  .GetTouch-input {
    margin-right: 200px;
    width: 90%;
  }
}
@media screen and (min-width: 998px) {
  .GetTouch-image {
    display: block;
  }
  .GetTouch-container {
    display: flex;
    justify-content: space-between;
  }
}
