@import '../../styles/variables';

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: $primary-color;
}

.logo img {
    max-height: 35px;
    padding-top: 5px;
}

.hamburger {
    padding-right: 20px;
    padding-top: 4px;
    cursor: pointer;
}

.menu {
    width: 45px;
}

.close {
    width: 45px;
}

.hamburger .close {
    display: none;
}

.hamburger.expanded .close {
    display: block;
}

.hamburger.expanded .menu {
    display: none;
}

.nav__link {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    right: 120px;
    background-color: $primary-color;
    text-align: left;
}

.nav__link a {
    text-decoration: none;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    display: inherit;
    padding-top: 30px;
    padding-left: 150px;
}

.hide {
    display: none;
}

@media screen and (min-width: 768px) {

    .navbar {
        background-color: $primary-color;
    }

    .logo img {
        max-height: 60px;
    }

    .nav__link {
        position: static;
        width: 100%;
        height: auto;
        text-align: right;
        background-color: $primary-color;
        display: flex;
        justify-content: end;
        gap: 19px;
        padding-right: 30px;
    }

    .nav__link a {
        display: inline-block;
        padding: 0px;
        border-bottom: 1px solid transparent;
    }
    .nav__link a:hover {
        border-bottom-color: $white;
    }
     
    .hamburger {
        display: none;
    }
}