@import "../../styles/variables";

.card-main {
  margin: 20px;
  padding: 10px 20px;
  background-image: url(../../images//cardcomponent-bg.png);
  box-shadow: 0 0 29px 0 $color-3;
}
.card-main:hover {
  background-color: $primary-color;
}
.card-icon-wrapper {
  margin: 20px 0px 20px 10px;
}
.card-icon {
  height: 50px;
  width: 50px;
}
.card-head-wrapper{
  text-align: center;

}
.card-head {
  font-size: 24px;
  color: $black;
  font-weight: 700;
  text-decoration: none;
}
.card-head:hover{
  cursor: pointer;

}

.card-description {
  font-size: 14px;
  padding: 16px 16px 0;
  color: $black;
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 768px) {
  .card-description {
    font-size: 16px;
  }
}
