@import "../../styles/variables";

.contactuscontent {
  text-align: center;
  padding: 20px 14px;
}
.contactuscontent img {
  width: 50px;
}
.contactuscontent-heading {
  font-size: 24px;
  color: #000;
  text-align: center;
  font-weight: 500;
}
.contactuscontent-heading:after {
  content: "";
}
.contactuscontent-heading-ul {
  border-bottom: 2px solid $primary-color;
  width: 110px;
  display: block;
  line-height: 1rem;
  margin-top: -2px;
}
.contactuscontent-columns {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contactuscontent-column-heading {
  font-size: 18px;
  font-weight: 400;
  color: $black;
  text-align: center;
  margin-bottom: 5px;
}
.contactuscontent-column-text {
  font-size: 12px;
  font-weight: 400;
  color: $black;
  text-align: center;
}
.contactuscontent-column-text-m{
  color:$primary-color;
}
@media screen and (min-width: 768px) {
  .contactuscontent {
    padding: 60px;
  }
  .contactuscontent-heading {
    font-size: 28px;
  }
  .contactuscontent-columns {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 998px) {
  .contactuscontent-column-heading {
    font-size: 20px;
  }
  .contactuscontent-column-text {
    font-size: 16px;
  }
  .contactuscontent-column1{
    flex:50%;
  }
  .contactuscontent-column2{
    flex:50%;
  }
}
