@import "../../styles/variables";

.footer {
  background-color: $primary-color;
  padding: 10px 16px;
}

.footer-header {
  color: $white;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.footer-list li{
  color: $white;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.footer-list a{
  text-decoration: none;
}
.footer-list a:hover{
  text-decoration: underline;
  text-decoration-color:white;
}
.footer-links li {
  color: $white;
  text-decoration: none;
  padding-bottom:15px;
}
.footer-links a:hover{
  text-decoration: underline;
  text-decoration-color:white;
}
.footer-links a {
  text-decoration: none;
}
.footer-lists{
  list-style:none;
}
.footer-mail-contact-details li{
  color:$white;
}
.footer-mail-contact-details a{
  text-decoration: none;
}
.footer-mail-contact-details a:hover{
  text-decoration: underline;
}
.footer-details{
  color:$white;
}
.footer-mail-contact-p{
  color:$white;
  padding-left:10px;
}
@media screen and (min-width:375px){
  .footer-mail-contact-details{
    display:flex;
    color:$white;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
  }
}
