@import '../../styles/variables';


.ourclients {
    display: block;
    margin: 40px 50px 30px;
}
.ourclients-heading {
    font-size: 36px;
    color: $black;
    text-align: center;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
}
.ourclients-heading-underline {
    padding: 0px 150px ;
}
.ourclients-image-wrapper {
    display: flex;
    flex: row;
}
.ourclients-image img{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .ourclients-heading-underline {
        padding: 0px 250px ;
    }
}

@media screen and (min-width: 1200px) {
    .ourclients-heading-underline {
        padding: 0px 400px ;
    }
}