@import "../../styles/variables";

.visionmission {
  background-image: url(../../images/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 16px;
}
.visionmission-content {
  display: flex;
  flex-direction: column;
}

.visionmission-column img {
  margin-bottom: 14px;
  width: 30px;
}
.visionmission-column-heading {
  font-size: 24px;
  color: $primary-color;
  font-weight: 600;
  text-align: left;
}
.visionmission-column-paragraph {
  margin-top: 8px;
  font-size: 14px;
  color: $white;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
}
#vissionmission-column2 {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .visionmission {
    padding: 60px 30px;
  }
  .visionmission-content {
    flex-direction: row;
  }
  #visionmission-column1 {
    flex: 50%;
    padding-right: 10px;
  }
  .visionmission-column img {
    width: 50px;
  }
  .visionmission-column-heading {
    font-size: 28px;
  }
  .visionmission-column-paragraph {
    font-size: 16px;
  }
  #visionmission-column2 {
    flex: 50%;
    padding-left: 10px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .visionmission {
    padding: 60px;
  }
}
