@import '../../styles/variables';


.visionmission {
    position: relative;
}
.visionmission-bgwrapper img {
    width: 100%;
    height: 80vh;
}
.visionmission-content {
    position: absolute;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    top: 15%;
}

.visionmission-column-1 img {
    width: 30px;
}
.visionmission-column-1-heading {
    font-size: 22px;
    color: $primary-color;
    font-weight: 600;
}
.visionmission-column-1-paragraph {
    font-size: 14px;
    color: $white;
    font-weight: 400;
}
.visionmission-column-2 img{
    width: 30px;
}
.visionmission-column-2-heading {
    font-size: 22px;
    color: $primary-color;
    font-weight: 600;
}
.visionmission-column-2-paragraph {
    font-size: 14px;
    color: $white;
    font-weight: 400;
}

@media screen and (min-width: 768px) {


    .visionmission-bgwrapper img {
        height: 50vh;
    }
    .visionmission-content {
        padding: 0px 70px 0px 70px;
        flex-direction: row;
        top: 20%;
    }
    .visionmission-column-1 {
        flex: 50%;
        padding-right: 10px;
    }
    .visionmission-column-1 img {
        width: 45px;
    }
    .visionmission-column-1-heading {
        font-size: 28px;
    }
    .visionmission-column-1-paragraph {
        font-size: 14px;
    }
    .visionmission-column-2 {
        flex: 50%;
        padding-left: 10px;
    }
    .visionmission-column-2 img{
        width: 45px;
    }
    .visionmission-column-2-heading {
        font-size: 28px;
        
    }
    .visionmission-column-2-paragraph {
        font-size: 14px;
    }
}
@media screen and (min-width: 1200px) {
    
    .visionmission-bgwrapper img {
        height: 70vh;
    }
    .visionmission-content {
        padding: 0px 150px 0px 150px;
        top: 25%;
    }
    .visionmission-column-1 img {
        width: 60px;
    }
    .visionmission-column-1-heading {
        font-size: 28px;
    }
    .visionmission-column-1-paragraph {
        font-size: 16px;
    }
    .visionmission-column-2 img{
        width: 60px;
    }
    .visionmission-column-2-heading {
        font-size: 28px;
    }
    .visionmission-column-2-paragraph {
        font-size: 16px;
    }
}