@import "../../styles/variables";
.contactusbanner {
  background-image: url(../../images/contactusbannerimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 16px;
  min-height: 200px;
}
.contactusbanner-heading {
  font-size: 40px;
  text-align: center;
  color: $black;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.contactusbanner-paragraph {
  margin-top: -10px;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 768px) {
  .contactusbanner-paragraph {
    font-size: 16px;
  }
}
